.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
**/*.quarto_ipynb
BODY-PONT.Rproj
QTDublinIrish.otf
_extensions
doc
generique.log
generique.tex
plan_analyse.glg
plan_analyse.glo
plan_analyse.gls
plan_analyse.ist
plan_analyse.pdf
plan_analyse.tex
.positai
