.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
**/*.quarto_ipynb
BODY-PONT.Rproj
QTDublinIrish.otf
_extensions
doc
generique.log
generique.tex
plan_analyse.glg
plan_analyse.glo
plan_analyse.gls
plan_analyse.ist
plan_analyse.pdf
plan_analyse.tex
.positai
datas
plan_analyse-exported.pdf
rapport_bodypont.glg
rapport_bodypont.glo
rapport_bodypont.gls
rapport_bodypont.ist
rapport_bodypont.pdf
rapport_bodypont.tex
rapport_bodypont_files
